<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bestnoteapp">

    <application
        android:allowBackup="true"
        android:icon="@drawable/download"
        android:label="@string/app_name"
        android:roundIcon="@drawable/download"
        android:supportsRtl="true"
        android:theme="@style/Theme.BestNoteApp">
        <activity
            android:name=".PdfViews"
            android:exported="false" >

        </activity>
        <activity
            android:name=".DrawerActivity"
            android:exported="false"
            android:label="@string/title_activity_drawer"
            android:theme="@style/Theme.BestNoteApp.NoActionBar"></activity>
        <activity
            android:name=".ScrollingDetails"
            android:exported="false"
            android:label="@string/title_activity_scrolling_details"
            android:theme="@style/Theme.BestNoteApp.NoActionBar" />
        <activity
            android:name=".DetailsPage"
            android:exported="false"></activity>
        <activity
            android:name=".notesactivity"
            android:exported="false">
        </activity>
        <activity
            android:name=".forgot_password"
            android:exported="false"
            android:label="Forgout password"
            android:parentActivityName=".forgot_password"></activity>
        <activity
            android:name=".signup"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:label="Login"></activity>
    </application>

</manifest>